{% extends 'baseBis.html.twig' %}

{% block body %}<!-----------------PERMET D'AFFICHER TOUT LES ARTICLES ET SE LES SUPPRIMER SI ON EST ADMIN------------------->
    <span class="partnersTitle">ACTUALITES</span>
    <section class="profileList">
        {% for article in articles %}
        <article class="profilesCard">
            <div class="card" style="width: 18rem;">
                <div class="card-body profileBody">
                    <span class="card-title">Titre : {{ article.title }}</span> <br>
                    <span class="card-text">Description : {{ article.content }}</span><br>
                    <span class="card-text">Date de création : {{ article.creationDate|date('d/m/Y') }}</span><br>
                    <!--<a href="{{ path('home') }}" class="btn btn-primary">Accueil</a>-->
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN')%}<a href="{{ path('remove_user', {'id':user.id}) }}" >Supprimer l'article</a> {% endif %}
        </article>
    {% endfor %}
    </section>
    <button><a class="linkA" href=" {{ path('home') }}">Accueil</a></button>

    <script src="{{ asset("assets/js/script.js") }}"></script>
{% endblock %}

